{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>{{ song.title }}!</h1>
  <p class="lead">&ndash; {{ song.artist }}</p>
</div>

<ul>
  <div>
    {% for playlist in song.playlists %}
    <li><a href="/playlists/{{ playlist.id }}">
        {{ playlist.name }}
      </a></li>
    {% endfor %}
  </div>
</ul>

<div>
  {% for playlist in playlists %}
  <li><a href="/playlists/{{ playlist.id }}">
      {{ playlist.name }}
    </a></li>
  {% endfor %}
</div>

<a class="btn btn-secondary" href="/playlists">Back</a>
{% endblock %}